# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv*/
env/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Project specific
*.log
.env
*.pyc
